<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Api</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00B7FF;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Api landing</h1>
            <p>welcome this is the api</p>
        </div>
    </div>

</body>

</html>